/** @format */

:root {
	--depth1: #2a2c2a;
	--depth2: #323636;
	--depth3: #3a4042;
	--depth4: #434a4d;

	--accent1: #8dd5ff;

	--transparent: rgba(0, 0, 0, 0);

	--font-color: #ffffff;
	--less-important-font-color: #b3b3b3;
}

html {
	overflow: auto !important;
}

/*============*/
/* Background */
/*============*/

/* Hide News Feed */
.bottom_row .scroll_cont.show_none {
	display: none !important;
}

/* Background */
.img_cont {
	background-image: none !important;
}

.bottom_row,
.hp_top_cover,
.img_cont {
	background: var(--depth1) !important;
}

.below_sbox .cdxPrompt .cdxAcrylic {
	background: var(--depth2) !important;
}

/*=====================*/
/* ChatGPT Message Box */
/*=====================*/

/* Background */
.below_sbox .cdxPrompt .cdxAcrylic .cdxHeader .cdxPagination .cdxPage.selected.paused,
.below_sbox .cdxPrompt .cdxAcrylic .cdxHeader .cdxPagination .cdxPage > span {
	background: var(--font-color) !important;
}

/* Learn More Button */
.below_sbox .cdxPrompt .cdxAcrylic .cdxButton.cdxAltButton {
	color: var(--font-color) !important;
	background: linear-gradient(var(--depth2), var(--depth2)) padding-box, linear-gradient(81.62deg, #2870ea 8.72%, #1b4aef 85.01%) border-box !important;
}

/* Text Color */
.below_sbox .cdxPrompt .cdxMain .cdxNudgeCard .cdxTitle {
	color: var(--font-color) !important;
}

/* Arrows */
.cdxNav > svg > path {
	fill: var(--font-color) !important;
}

/*============*/
/* Search Bar */
/*============*/

/* Background */
.sbox .sb_form,
.sbox .sb_form #sw_as .sa_as #sa_ul.sa_drw,
.sbox .sb_form #sw_as .sa_as #sa_ul.sa_drw::before,
#sw_as .as_rmhswarning {
	background-color: var(--depth2) !important;
}

#sw_as .sa_hv {
	background-color: var(--depth3) !important;
}

/* Text color */
.sbox .sb_form .sb_form_q,
#sw_as .sa_as .sa_sg .sa_tm,
#sw_as .sa_as .b_tHeader,
#sw_as .sa_as .b_demoteText,
#sw_as .sa_as .b_secondaryText,
#sw_as .sa_as .b_attribution,
#sw_as .sa_as .b_factrow,
#sw_as .sa_as #sa_ul .b_focusLabel,
#sw_as .sa_as .b_footnote,
#sw_as .sa_as .b_ad .b_adlabel,
#sw_as .sa_as .b_expando .b_subModule,
#sw_as .sa_as .b_expando .b_suppModule,
#sw_as .sa_as .b_algo .b_vList td,
#sw_as .sa_as .b_expando .b_secondaryText,
#sw_as .sa_as .b_expando .b_attribution,
#sw_as .sa_as .b_expando .b_factrow,
#sw_as .sa_as .b_expando .b_footnote,
#sw_as .sa_as .ctxtb,
#sw_as .as_msbblocksug,
#sw_as .as_msbblockheader,
#sw_as .sa_msbribboncontainer,
#sw_as .sa_as .sa_rmvd,
#sw_as #sa_ul .sa_hd,
#sw_as strong {
	color: var(--font-color) !important;
}

/*==========*/
/* Settings */
/*==========*/

#id_hbfo,
.hb_card {
	background-color: var(--depth2) !important;
}

.hb_section:active,
.hb_section:hover,
.hb_section:visited,
.hb_section:focus {
	background-color: var(--depth3) !important;
}

.hbic_col,
.hb_title_col,
.hb_value_col,
.hb_subtitlerow,
.hb_descrow,
#hbchatbtn label {
	color: var(--font-color) !important;
}

.hb_detrow,
.hb_sect_container .menuFooterText,
.hb_sect_container .msft {
	color: var(--less-important-font-color) !important;
}

.hb_sect_container .menuFooterLink,
.hb_sect_container .separator,
.hb_sect_container .mcp_footer {
	color: var(--accent1) !important;
}
