/** @format */

:root {
	--depth1: #2e2e2e;
	--depth2: #303030;
	--depth3: #3b3b3b;
	--depth4: #444444;

	--accent1: #8dd5ff;

	--transparent: rgba(0, 0, 0, 0);

	--font-color: #ffffff;
}

* {
	color: var(--font-color);
}

a {
	color: var(--accent1);
}

/*
================================
MAIN PAGE
================================
*/

/* Background */
body,
body > div,
body > div > div,
body > div > div > div,
body > div > div > div > div,
body > div > div > div > div > div {
	background-color: var(--depth1) !important;
}

/* SearchBar Background */
#sb_form {
	background-color: var(--depth2) !important;
}

/* SearchBar Suggestion Box */
#sa_ul,
#sa_ul > li,
#sa_ans,
#sa_ans > div,
#sa_ans > div > div,
#as_foot {
	background-color: var(--depth3) !important;
}

/* SearchBar Suggestion Box Previously Searched */
#sa_ul > li > div > span > strong {
	font-weight: bold;
	color: var(--accent1) !important;
}

/* SearchBar Suggestion Box History Settings */
#as_foot_link,
.as_rmhswarningtxt {
	color: var(--accent1) !important;
}

/* SearchBar Suggestion Box Hover */
#sa_ul > li:hover,
#sa_ans:hover,
#sa_ans > div:hover,
#sa_ans > div > div:hover {
	background-color: var(--depth4) !important;
}

/* SearchBar Suggestion Box Little Thingy */
#sa_ul::before {
	background-color: var(--depth3) !important;
}

/* Introducing the new Bing Box */
#sb_form > div > div > div {
	background-color: var(--depth2) !important;
}

#sb_form > div > div > div > div > div > div > div {
	color: var(--font-color) !important;
}

.cdxTitle,
#sb_form > div > div > div > div > div > a,
#sb_form > div > div > div > div > div > a {
	color: var(--font-color) !important;
}

#sb_form > div > div > div > div > div > a {
	background-color: var(--transparent) !important;
	background: none;
}

#id_sc {
	color: var(--font-color) !important;
}

/* Burger Menu */
#id_hbfo {
	color: var(--font-color) !important;

	background-color: var(--depth2) !important;
}

#hbchatbtn > div {
	background-color: var(--depth2);
}

#hbchatbtn > div:hover {
	background-color: var(--depth3);
}

#hbchatbtn > div > a:hover {
	background-color: var(--depth4);
}

#HBContent > div > div:hover,
#HBContent > a:hover,
#HBContent > div > div:focus,
#HBContent > a:focus {
	background-color: var(--depth3);
}

#hbsettree > a:hover,
#hbsettree > a:focus,
#hb_expandible > div:hover,
#hb_expandible > div:focus,
#qs_hp_expando:focus,
#qs_hp_expando:hover {
	background-color: var(--depth4);
}

#HBContent > div div,
#HBContent > a > div div {
	color: var(--font-color) !important;
}

#HBContent > div:nth-child(7) > div:nth-child(2) > div > ul > li > a {
	color: var(--accent1) !important;
}

#HBContent > div:nth-child(7) > div:nth-child(2) > div > span {
	color: var(--font-color) !important;
}

#HBContent > div:nth-child(7) > div:nth-child(2) > div > span::after {
	content: ' and a faggot Hyena';
}
