/**
 * ================================
 * SEARCH RESULTS
 * ================================
 *
 * @format
 */

:root {
	--depth1: #2a2c2a;
	--depth2: #323636;
	--depth3: #3a4042;
	--depth4: #434a4d;

	--accent1: #85d2ff;
	--accent2: #00c1cf;

	--transparent: rgba(0, 0, 0, 0);

	--font-color: #ffffff;
	--less-important-font-color: #b3b3b3;
}

html {
	min-height: 100% !important;
}

a {
	color: var(--accent1) !important;
}

/*============*/
/* Background */
/*============*/

/* Background */
html,
body,
#b_content {
	background: var(--depth1) !important;
}

#b_header {
	border-bottom: 1px solid var(--depth4) !important;
}

/*=======*/
/* Pages */
/*=======*/

/* Background */
#b_content .b_pag a.sb_bp:hover {
	background: var(--depth2) !important;
}

#b_content .b_pag a.sb_pagS_bp {
	background: var(--depth3) !important;
}

/*============*/
/* Search Bar */
/*============*/

/* Background */
.b_searchboxForm,
.sa_as .sa_drw,
.b_searchboxForm.as_rsform #sw_as .sa_as,
#sw_as .as_rmhswarning {
	background: var(--depth2) !important;
}

#sw_as li.pp_tile.sa_hv,
.b_searchboxForm #sw_as .sa_hv {
	background: var(--depth3) !important;
}

/* Text color */
#b_header .b_searchboxForm .b_searchbox {
	color: var(--font-color) !important;
}

#sw_as .sa_as .sa_drw .sa_sg .sa_tmHS,
#sw_as .sa_as .sa_drw .sa_sg div.sa_tmHS strong,
#sw_as .sa_as .sa_drw .pp_tile.pp_sTile.pp_sTileHS div.pp_title strong {
	color: var(--accent1) !important;
}

#sw_as .sa_as .sa_drw,
#sw_as .sa_as li.pp_tile,
#sw_as .sa_as .sa_tm strong,
#sw_as .sa_as table,
#sw_as .sa_as .sa_sg .sa_tm,
#sw_as .rs_tx,
#sw_as .pasf_tx,
#sw_as .sa_as .b_demoteText,
#sw_as .pasf_rich_drw .lite-entcard-exp-itemdata,
#sw_as .sa_hd {
	color: var(--less-important-font-color) !important;
}

#sw_as .sa_as .sa_sg:hover .sa_tm strong,
#sw_as .sa_as .sa_sg:hover .sa_tm,
#sw_as li.pp_tile:hover div.pp_title,
#sw_as li.pp_tile:hover span.b_demoteText,
#sw_as .sa_as .sa_sgr:hover .sa_tm,
#sw_as .sa_as .sa_sgr:hover .sa_tm strong,
#sw_as .pasf_rich_drw li:hover .lite-entcard-exp-itemdata,
#sw_as .pasf_rich_drw .sa_sg_pasf .sa_img a:hover {
	color: var(--font-color) !important;
	text-decoration-color: var(--font-color);
}

/*=============*/
/* Main Header */
/*=============*/

/*---------------*/
/* Info and date */
/*---------------*/

/* Background */
#b_tween .ftrB a.ftrH:hover,
#b_tween .ftrB a.ftrH:focus,
#b_tween .ftrB a.ftrH:visited,
#b_tween .ftrB a.ftrH.b_selected,
#b_tween .ftrB .b_dropdown {
	background-color: var(--depth2) !important;
}

#b_tween .ftrB a.ftrH:active {
	background-color: var(--depth3) !important;
}

/* Text Color */
#b_tween,
#b_tween a.ftrH {
	color: var(--less-important-font-color) !important;
}

#b_tween .b_dropdown .b_selected,
#b_tween .b_dropdown .b_toggle,
.b_demoteText,
.ftrD .b_vPanel input.ctxt {
	color: var(--font-color) !important;
}

/* Border */
#b_tween .ftrB .b_dropdown,
.ftrD > div.b_vPanel,
.ccal.b_focus,
.ccal {
	border-color: var(--depth4) !important;
}

/*--------------*/
/* Apply Button */
/*--------------*/

/* Background */
a.cbtn,
a.cbtn:active {
	background-color: var(--depth3) !important;
}

a.cbtn:hover {
	background-color: var(--depth4) !important;
}

/* Text Color */
a.cbtn {
	color: var(--font-color) !important;
}

/* Border */
a.cbtn {
	border-color: var(--depth4) !important;
}

/*------*/
/* Tabs */
/*------*/

/* Text Color */
.b_scopebar .b_active a,
.b_scopebar a:hover,
.id_button:hover {
	color: var(--font-color) !important;
}

.b_scopebar,
.b_scopebar a,
.b_scopebar a:visited,
.id_button,
.id_button:visited {
	color: var(--less-important-font-color) !important;
}

/* `More` Background */
#b-scopeListItem-menu .b_sp_over_menu {
	background: var(--depth2) !important;
}

#b-scopeListItem-menu li.b_sp_over_item:hover {
	background: var(--depth3) !important;
}

/* `More` Text Color */
#b-scopeListItem-menu .b_sp_over_menu {
	color: var(--font-color) !important;
}

/*=================*/
/* Left Side Cards */
/*=================*/

/* Background */
#b_content #b_lgd ul > li {
	background: var(--depth2) !important;
	border: 1px solid var(--depth4) !important;
}

/* Text Color */
#b_content #b_lgd ul > li a .b_secondaryFocus,
.b_rc_gb_template .b_rc_gb_widget_title {
	color: var(--font-color) !important;
}

#b_content #b_lgd ul > li a .b_secondaryFocus .b_lgdSubtitle,
#b_content #b_lgd .disambig-outline h2 {
	color: var(--less-important-font-color) !important;
}

/*==========*/
/* Overview */
/*==========*/

/* Main Theme */
.ent-dtab-ovr.ent-dtab-ovr-nl.def-override.ent-dtab-tabuxv1 {
	border: 1px solid var(--depth4) !important;
	background: var(--depth2) !important;
}

.ent-dtab-ovr.ent-dtab-ovr-nl.def-override.ent-dtab-tabuxv1:hover {
	border: 1px solid var(--depth4) !important;
	background: var(--depth3) !important;
}

/* Main Theme Text */
.ent-dtab-ovr.ent-dtab-ovr-nl.def-override.ent-dtab-tabuxv1,
.ent-dtab-dtxt-ov.ent-dtab-tabuxv1 {
	color: var(--font-color) !important;
}

.ent-dtab-ovr.ent-dtab-ovr-nl.def-override.ent-dtab-tabuxv1:hover,
.ent-dtab-ovr.ent-dtab-ovr-nl.def-override.ent-dtab-tabuxv1:hover .ent-dtab-dtxt-ov.ent-dtab-tabuxv1 {
	color: var(--accent1) !important;
}

/* Tabs */
.ent-dtab-btn.def-override.ent-dtab-tabuxv1 {
	background: var(--depth2) !important;
	border: 1px solid var(--depth4) !important;
	color: var(--font-color) !important;
}

.ent-dtab-btn.def-override.ent-dtab-tabuxv1:hover {
	background: var(--depth3) !important;
	border: 1px solid var(--accent1) !important;
	color: var(--accent1) !important;
}

#b_pole .b_wpTabsWrapper,
#b_content #b_pole .ent-dtab-content,
#b_content #b_pole .ent-dtab-content > div:first-child {
	background: var(--depth1) !important;
}

#b_pole .b_wpTabsWrapper:last-child {
	border-bottom: 1px solid var(--depth4) !important;
}

/*=======================*/
/* Related... Everything */
/*=======================*/

/* Background */
.pagereco_CB {
	background-color: var(--depth2) !important;
}

.pagereco_CBImageCard,
.pagereco_CBTextCard {
	background-color: var(--depth3) !important;
}

/* Text Color */
.pagereco_CBTextCard .b_text {
	color: var(--font-color) !important;
}

/*============*/
/* Dictionary */
/*============*/

/* Background */
#b_content #b_results .dcajx .suggDD .ctxt,
#b_content .dcajx .suggDD .ctxt,
#b_content #b_results .dcajx.dcsbxhdr .dcbtn,
#b_content .dcajx.dcsbxhdr .dcbtn {
	background: var(--depth2) !important;
}

#b_content #b_results .dcajx.dcsbxhdr .dcbtn:hover,
#b_content .dcajx.dcsbxhdr .dcbtn:hover {
	background: var(--depth3) !important;
}

/* Text Color */
#b_content #b_results .dcajx.dcsbxhdr .dcbtn,
#b_content .dcajx.dcsbxhdr .dcbtn,
#b_content #b_results .b_ans .dcont .dc_mn,
#b_content .b_ans .dcont .dc_mn {
	color: var(--font-color) !important;
}

#b_content #b_results .b_ans .dcont .dc_prn,
#b_content .b_ans .dcont .dc_prn {
	color: var(--less-important-font-color) !important;
}

/* Border */
.ctxt,
#b_content #b_results .dcajx.dcsbxhdr .dcbtn,
#b_content .dcajx.dcsbxhdr .dcbtn {
	border-color: var(--depth4) !important;
}

/*============*/
/* Focus Card */
/*============*/

/* Background */
#b_results > li.b_ans.b_topborder,
.b_tophb .bgtopwh,
.b_tophb .bgtopgr {
	background-color: var(--depth2) !important;
}

.ref_multiAns .b_slidebar .slide,
.df_alaskcarousel .df_alsoAskCard {
	background-color: var(--depth3) !important;
}

/* Text Color */
#b_results > .b_top .b_focusTextExtraSmall,
#b_results > .b_top .b_focusTextSmall,
#b_results > .b_top .b_focusTextMedium,
#b_results > .b_top .b_focusTextLarge,
.qna_body,
.df_c .rwrl {
	color: var(--font-color) !important;
}

.b_focusLabel,
.b_top,
.qna_algoLink.qna_h2algo cite {
	color: var(--less-important-font-color) !important;
}

hr.df_fn {
	background-color: var(--depth4) !important;
	color: var(--depth4) !important;
}

/* Border */
.b_tophb .bgtopgr,
#b_content #b_results .dictline {
	border-color: var(--depth4) !important;
}

#b_results > li.b_ans.b_topborder.b_tophb {
	border: none !important;
}

/*================*/
/* Search Results */
/*================*/

/* Background */
#b_results > li:not(.b_vidAns) {
	background-color: var(--transparent) !important;
}

#b_results .b_algo .b_deeplinks_block_container .b_vlist2col.b_deep ul li:hover,
.rc_vlHorizontalImage .rc_vlCard {
	background: var(--depth2) !important;
}

.sto_ctr .sto_slides .sto_slide.sto_slide_withAttrGrid .sto_nobleed .sto_attr_cntr {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--depth2) 100%) !important;
}

.scs_arw {
	filter: contrast(100%) invert(80%) !important;
}

/* Text Color */
.b_imgcap_altitle p strong {
	color: var(--font-color) !important;
}

#b_results > li .b_wikiRichcard_noHeroSection .b_wikiRichcard p,
.b_caption,
.b_caption .b_factrow strong,
.b_caption p strong,
.b_algo .b_factrow,
.recommendationsTableTitle h2,
.b_imgcap_altitle .b_factrow strong,
#b_results .b_algo .b_vlist2col.b_deep {
	color: var(--less-important-font-color) !important;
}

.sp_pssl {
	color: var(--accent2) !important;
}

/* Border */
.b_overlay .btn.rounded .cr > div {
	border-color: var(--depth4) !important;
}

/*--------*/
/* Arrows */
/*--------*/

/* TODO: Fix arrows */

/*--------*/
/* Tables */
/*--------*/

/* Text Color */
.b_vList .tabcap td,
.b_vList .tabcap table tr th {
	color: var(--less-important-font-color) !important;
}

/* Border */
.b_vList .tabcap table tr {
	border-color: var(--depth4) !important;
}

/*=========================*/
/* Search Results from ... */
/*=========================*/

/* Background */
.cbtn input[type='submit']:hover {
	background-color: var(--depth3) !important;
}

.b_externalSearch .ctxt,
.cbtn input[type='submit'] {
	background-color: var(--depth2) !important;
}

.cbtn input[type='submit']:active {
	background-color: var(--depth4) !important;
}

/* Text Color */
.b_externalSearch .ctxt,
.cbtn input[type='submit'] {
	color: var(--font-color) !important;
}

/* Border */
.b_externalSearch .ctxt,
.cbtn input[type='submit'] {
	border-color: var(--depth4) !important;
}

/*------------------*/
/* Wikipedia Widget */
/*------------------*/

/* Background */
#b_results .b_algoBigWiki.b_wiki_bg_color_kc {
	background-image: none !important;
	background-color: var(--depth2) !important;
}

.b_wiki_cover,
.b_rc_gb_expansion_cover {
	background: none !important;
}

.b_widgetContainer {
	background-color: var(--depth2) !important;
}

.b_rc_gb_w_content,
#b_rc_gb_origin.b_rc_gb_sub .b_rc_gb_sub_column > div {
	background-color: var(--depth3) !important;
}

.b_rc_gb_widget_link.b_rc_gb_w_item:hover {
	background-color: var(--depth4) !important;
}

/* Text Color */
.b_algoBigWiki .b_rc_gb_widget_title,
.b_rc_gb_widget_link.b_rc_gb_w_item,
.b_rc_gb_sub_hero .b_rc_gb_sub_cell .b_paractl,
.wiki_seemore div,
.b_promoteText,
#b_results {
	color: var(--font-color) !important;
}

#b_results .b_algoBigWiki .b_rc_gb_source {
	color: var(--less-important-font-color) !important;
}

/* Share SVG */
.shared_icon {
	filter: brightness(140%);
}

/*=================*/
/* People also Ask */
/*=================*/

/* Background */
#df_listaa {
	background-color: var(--depth2) !important;
}

.df_alaskcarousel.rqnaContainerwithfeedback .openans_gradient_div {
	background: none !important;
}

/* Text Color */
.df_alaskcarousel #df_listaa .b_vPanel .df_hd .b_primtxt,
.df_alaskcarousel .df_qntext,
#df_listaa .b_vPanel .df_hd .b_primtxt,
#df_listaa .b_module_expansion .b_expansion_text {
	color: var(--font-color) !important;
}

.df_alaskcarousel .df_alsocon,
.df_alsocon {
	color: var(--less-important-font-color) !important;
}

/* Border */
#relatedQnAListDisplay,
#df_listaa .b_module_expansion .b_expansion_wrapper.b_expand,
#relatedQnAListDisplay > div {
	border-color: var(--depth4) !important;
}

/*=======================*/
/* Right Panel More Info */
/*=======================*/

/* Background */
#b_content #b_context > .b_ans,
.l_ecrd_bkg_hlt,
.lite-entcard-exp,
#b_context .b_entityTP {
	background: none !important;
	background-color: var(--depth2) !important;
}

.ux_ecmp ul li:nth-child(2n + 1),
.l_ecrd_twowiset_4 li,
.l_ecrd_twoimgset_item {
	background: none !important;
	background-color: var(--depth3) !important;
}

.spl_ugcpoll_bgthm {
	background-color: var(--depth4) !important;
}

/* Text Color */
.l_ecrd_qfcts_prim,
.l_ecrd_txt_gl,
.lite-entcard-exp-itemdata,
.lite-entcard-exp > h2,
#b_context .b_entityTitle {
	color: var(--font-color) !important;
}

.lite-entcard-main,
.lite-entcard-main a,
.lite-entcard-main a:visited,
.l_ecrd_ftr_txt,
.carousel_seemore .seeAll_txt,
#b_context .l_ecrd_vqfcts .b_onpage_expansion .b_expansion_text,
.b_factrow,
#b_context .b_factrow,
.b_footnote,
#b_context .b_footnote {
	color: var(--less-important-font-color) !important;
}

.l_ecrd_ftr_txt > a,
.l_ecrd_thmtxt,
a.l_ecrd_thmtxt {
	color: var(--accent1) !important;
}

.l_ecrd_txt_hlt,
.spl_ugcpoll_ttl,
.spl_ugcpoll_cndt.opt:hover div,
.spl_ugcpoll_cndt.voted div {
	color: var(--accent2) !important;
}

/* Border */
.lite-entcard-blk:not(:last-child):not(.l_ecrd_bkg_bdrls),
.lite-entcard-main > div:not(:last-child) > .lite-entcard-blk:not(.l_ecrd_bkg_bdrls),
.l_ecrd_qfcts_fct:not(:first-child),
.l_ecrd_imcolheader_bot_icons,
.l_ecrd_webicons_with_title,
.spl_ugcpoll_cndt > div,
#b_context .b_module_expansion .b_expansion_wrapper {
	border-color: var(--depth4) !important;
}

.ux_ecmp > ul {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: var(--depth4) !important;
}

.l_ecrd_brdr_thm {
	border-color: var(--accent1) !important;
}

.spl_ugcpoll_cndt.opt:hover div,
.spl_ugcpoll_cndt.voted div {
	border-color: var(--accent2) !important;
}

/* Fill */
.l_ecrd_mttl svg > path,
.lc_expfact_plus,
.b_module_expansion .b_expansion_wrapper .sv_ch {
	fill: var(--less-important-font-color) !important;
}

.l_ecrd_c2_svg svg > line {
	stroke: var(--depth4) !important;
}

.sp-ofsite {
	fill: var(--accent1) !important;
}

/*==============*/
/* Explore More */
/*==============*/

/* Background */
.b_exploreTitle,
.b_mgridOuter {
	background: var(--depth2) !important;
}

/* Text Color */
.b_exploreTitle,
.b_mgridTitle a {
	color: var(--font-color) !important;
}

cite {
	color: var(--less-important-font-color) !important;
}

/* Border */
.b_exploreTitle,
.b_mgridOuter {
	border-color: var(--depth4) !important;
}

/*=================*/
/* See Results For */
/*=================*/

/* Text Color */
#b_context {
	color: var(--font-color) !important;
}

#b_context #wpc_eif {
	color: var(--less-important-font-color) !important;
}

/*=================*/
/* Related Results */
/*=================*/

/* Text Color */
.wpvn_ala_wtt {
	color: var(--font-color) !important;
}

.wpvn_ala .wpvn_ala_ssnpt {
	color: var(--less-important-font-color) !important;
}

/*======================*/
/* Related Searches for */
/*======================*/

/* Background */
#b_results #brsv3 .b_vList li a,
#rs_lgw_list a {
	background-color: var(--depth2) !important;
}

#b_results #brsv3 .b_vList li a:hover {
	background-color: var(--depth3) !important;
}

/* Text Color */
#b_results .b_ans #brsv3 h2,
#rs_lgw_list a {
	color: var(--font-color) !important;
}

#b_results #brsv3 .b_vList a .b_suggestionText {
	color: var(--accent1) !important;
}

/*==================*/
/* Related Searches */
/*==================*/

/* Background */
#b_content #b_context .richrsrail_requerydiv a {
	background-color: var(--depth3) !important;
}

/* Text Color */
.richrsrailtitle h2,
.richrsrailexpansion .df_showLogo .b_expansion_text.b_1linetrunc {
	color: var(--font-color) !important;
}

/* Border */
.richrswrapper,
.richrsrailtitle,
.richrsrailexpansion ul li,
.richrsrailsugwrapper > div,
#b_content #b_context .richrsrail_requerydiv a {
	border-color: var(--depth4) !important;
}

/*===========*/
/* Hero Tabs */
/*===========*/

/* Background */
.tab-menu li,
.tab-navl,
.tab-navr {
	background-color: var(--depth2) !important;
}

/* Text Color */
.tab-menu li {
	color: var(--less-important-font-color) !important;
}

.tab-menu li.tab-active {
	color: var(--font-color) !important;
}

/* Border */
.tab-head,
.b_wikiRichcard .tab-head,
.rc_herotabheader .tab-head {
	border: none !important;
}

.tab-menu li.tab-active {
	box-shadow: inset 0 -3px 0 0 var(--accent1) !important;
}

/* SVG */
.tab-navl svg > path,
.tab-navr svg > path {
	fill: var(--less-important-font-color) !important;
}

.tab-navl:hover svg > path,
.tab-navr:hover svg > path {
	fill: var(--font-color) !important;
}

/*=====================*/
/* Explore with Images */
/*=====================*/

/* Background */
#b_results li.b_ans.b_mop.b_mopb {
	background: var(--depth2) !important;
}

a.rel_ent {
	background: var(--depth3) !important;
}

a.rel_ent:hover {
	background: var(--depth4) !important;
}

/* Border */
a.rel_ent {
	border-color: var(--depth4) !important;
}

/*======*/
/* News */
/*======*/

/* Background */
.na_cl.lc .na_citem,
.nws_itm,
#b_content .ans_nws .na_cnt .na_ccw.tc {
	background: var(--depth2) !important;
}

.na_cl.lc .na_citem:hover {
	background-color: var(--depth3) !important;
}

#b_results .ans_nws .big_logo_right_gradient {
	background: none !important;
}

/* Text Color */
.na_cnt .na_t {
	color: var(--font-color) !important;
}

.ans_nws .na_cnt .b_secondaryText,
#b_results .ans_nws .bigCaption.big_pub_logo .cap_txt,
#ans_nws .na_cnt .citm_spt,
#ans_nws .na_cnt .itm_tlt_snp .itm_spt,
.na_cnt .itm_tlt_snp .itm_spt,
#b_content .ans_nws .na_cnt .na_ccw.tc .citm_cap .cap_txt {
	color: var(--less-important-font-color) !important;
}

/* Border */
#b_results .ans_nws .new_see_more_container .new_see_more_line {
	border-color: var(--depth4) !important;
}

/*================*/
/* Topic Question */
/*================*/

/* Background */
.scs_t {
	background: var(--depth2) !important;
}

/* Text Color */
.scs_q {
	color: var(--font-color) !important;
}

.scs_tx {
	color: var(--less-important-font-color) !important;
}

/*========*/
/* Videos */
/*========*/

/* Background */
.b_vidAns {
	padding: 0 !important;
	background-color: var(--transparent) !important;
}

#serpvidans.vab {
	padding: 15px 19px 0 !important;
	border-radius: 6px !important;
}

.b_vidAns > div > div,
.b_caption .captionMediaCard .b_imagePair.wide_wideAlgo {
	background-color: var(--depth2) !important;
}

.mc_vtvc_meta_w .mc_vtvc_meta,
.mc_vtvc_meta_bg_w,
.mc_vtvc {
	background: none !important;
	background-color: var(--depth3) !important;
}

.mc_vtvc:hover .mc_vtvc_meta_w .mc_vtvc_meta,
.mc_vtvc:hover .mc_vtvc_meta_bg_w,
.mc_vtvc:hover,
.mc_vtvc:hover #serpvidans .rel_ent_w.rel_ent_scr.qpexp:not(.rel_ent_crs) .rel_ent_c .rel_ent {
	background-color: var(--depth4) !important;
}

.mc_vtvc_cb_w {
	display: none;
}

#serpvidans .qpbold {
	background-color: var(--depth2) !important;
}

#serpvidans .rel_ent_w.rel_ent_scr.qpexp:not(.rel_ent_crs) .rel_ent_c .rel_ent {
	background-color: var(--depth3) !important;
}

.grad {
	background: none !important;
}

/* Text Color */
.mc_vtvc_title,
.rel_ent_tw {
	color: var(--font-color) !important;
}

.mc_vtvc_meta_block,
.b_caption .captionMediaCard .b_imagePair a p {
	color: var(--less-important-font-color) !important;
}

/* Border */
#serpvidans .rel_ent_w.rel_ent_scr.qpexp:not(.rel_ent_crs) .rel_ent_c .rel_ent {
	border-color: var(--depth4) !important;
}

.b_vidAns {
	border-radius: 6px;
}

/*========*/
/* Footer */
/*========*/

/* Background */
.b_footer {
	background-color: var(--depth2) !important;
}

/* Text Color */
.b_footer {
	color: var(--less-important-font-color) !important;
}
